body {
    background-color: green;

}
.form{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    border: blue;
    border-style: solid;
    background-color: skyblue;
}
.navbar{
    background-color: white;
    height: 50px;
    width: auto;
}